<div class="example-container">
  <mat-form-field>
    <input matInput [(ngModel)]="firstName" placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="secondName" placeholder="Second Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="pesel" placeholder="PESEL">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="date" placeholder="Date">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="sex" placeholder="Select">
      <mat-option value="Man">Man</mat-option>
      <mat-option value="Woman">Woman</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" class="btn btn-secondary" (click)="searchChild()">searchChild</button>
</div>

<div *ngIf="getChilds().length > 0;then areChilds;else noChild"></div>

<ng-template #noChild>
  <mat-card><div>No result</div></mat-card>
</ng-template>

<ng-template #areChilds>
  <mat-card>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="row">First Name</th>
        <th scope="row">Second Name</th>
        <th scope="row">Pesel</th>
        <th scope="row">Sex</th>
        <th scope="row">Family</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let child of getChilds(); let i= index">
        <th scope="row">{{i+1}}</th>
        <td>{{child?.firstName}}</td>
        <td>{{child?.secondName}}</td>
        <td>{{child?.pesel}}</td>
        <td>{{child?.sex}}</td>
        <td>
          <button routerLink="/family" type="button" class="btn btn-secondary" (click)="findFamily(child?.familyDTO.id)">Take</button>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card>
</ng-template>

